{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>E-come | Multi-Purpose HTML Template for Electronics Store</title>
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="wrappage">
    <header id="header" class="header-v2">
        <div class="header-center">
            <div class="container container-240">
                <div class="row flex">
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 v-center header-logo">
                        <a href="{% url 'main_page' %}">
                            <img src="{% static 'img/_logo_persicia_edit-0.png' %}" alt="" class="img-reponsive">
                        </a>
                    </div>
                    <div class="col-lg-7 col-md-7 v-center header-search hidden-xs hidden-sm">
                        <form method="get" class="searchform ajax-search" action="/search" role="search">
                            <input type="hidden" name="type" value="product">
                            <input type="text" onblur="if (this.value=='') this.value = this.defaultValue"
                                   onfocus="if (this.value==this.defaultValue) this.value = ''" name="q"
                                   class="form-control" placeholder="Я ищу...">
                            <div class="search-panel">
                                <a class="dropdown-toggle" data-toggle="dropdown" href='#'>Все категории<span
                                        class="fa fa-caret-down"></span></a>
                                <ul id="category" class="dropdown-menu dropdown-category">
                                    {% for section in sections %}
                                        <li>
                                            <a href="">{{ section.russian_name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <span class="input-group-btn">
                                <button class="button_search" type="button">
                                    <i class="ion-ios-search-strong"></i>
                                </button>
                            </span>
                        </form>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6 v-center header-sub">
                        <div class="right-panel">
                            <div class="header-sub-element hidden-xs hidden-sm">
                                <div class="sub-left">
                                    <img src="{% static 'img/icon-call.png' %}" alt="">
                                </div>
                                <div class="sub-right">
                                    <span>Call Us Free</span>
                                    <div class="phone">+7 (499) 346-6665</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom hidden-xs hidden-sm">
            <div class="flex lr">
                <div class="box-header-nav">
                    <nav class="main-menu">
                        <ul class="nav navbar-nav">
                            <li class="level1 active hassub"><a href="/">Главная</a></li>
                            {% for section in sections %}
                                <li class="level1"><a href="">{{ section.russian_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
                {#                <div class="box-header-menu">#}
                {#                    <nav class="main-menu">#}
                {#                        <ul class="nav navbar-nav">#}
                {#                            {% for section in sections %}#}
                {#                                <li class="level1"><a href="">{{ section.russian_name }}</a></li>#}
                {#                            {% endfor %}#}
                {#                        </ul>#}
                {#                    </nav>#}
                {#                </div>#}
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}
</div>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/countdown.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>