{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container container-240">
        <div class="single-product-detail product-bundle product-aff">
            <ul class="breadcrumb">
                <li><a href="{% url 'main_page' %}">Главная</a></li>
                <li class="active">{{ good.section.section_name }}</li>
                <li class="active">{{ good.good_name }}</li>
            </ul>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-sm-offset-1 col-md-offset-1">
                    <div class="flex product-img-slide">
                        <div class="product-images">
                            <div class="main-img js-product-slider">
                                {% for photo in photos %}
                                    <a href="#" class="hover-images effect">
                                        <img src="/{{ photo.path }}" alt="photo"
                                             class="img-reponsive">
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="multiple-img-list-ver2 js-click-product">
                            {% for photo in photos %}
                                <div class="product-col">
                                    <div class="img active">
                                        <img src="/{{ photo.path }}" alt="photo" class="img-reponsive">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7">
                    <div class="single-flex">
                        <div class="single-product-info product-info product-grid-v2 s-50">
                            <p class="product-cate">{{ good.section.russain_name }}</p>
                            <h3 class="product-title"><a href="#">{{ good.good_name }}</a></h3>
                            <div class="product-brand">
                                <img src="/{{ good.manufacture.logo_path }}" alt="">
                                <p>Производитель: {{ good.manufacture.manufacture_name }}</p>
                            </div>
                            <div class="short-desc">
                                <p class="product-desc">
                                    {{ good.description }}
                                </p>
                                <ul class="desc-list">
                                    {% for benefit in benefits %}
                                        <li>{{ benefit.benefit_name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% if colors %}
                                <div class="color-group">
                                    <label>Доступные цвета :</label>
                                    {% for color in colors %}
                                        <img src="/{{ color.color.path }}" alt="photo" class="img-reponsive">
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-product-tab bd-7">
                <div class="cmt-title text-center abs">
                    <ul class="nav nav-tabs text-center">
                        <li class="active"><a data-toggle="pill" href="#desc">Описание</a></li>
                        <li><a data-toggle="pill" href="#specifications">Характеристики</a></li>
                        {% if pdf %}
                            <li><a data-toggle="pill" href="#pdf">Скачать</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="desc" class="tab-pane fade in active">
                        <div class="entry-content">
                            <div class="entry-inside">
                                <div class="entry-element flex align-center">
                                    <div class="entry-info">
                                        <h3>{{ good.good_name }}</h3>
                                        <p>{{ good.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="specifications" class="tab-pane fade in">
                        <ul class="collection-list">
                            {% for specification in specifications %}
                                <li>{{ specification.specification_name }}: {{ specification.specification_value }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    {% if pdf %}
                        <div id="pdf" class="tab-pane fade in "></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}