{% extends 'base.html' %}

{% block content %}
    <div class="feature-product spc2">
        <div class="container container-240">
            <div class="ecome-heading style2">
                <h1>Последние добавленные товары</h1>
            </div>
            <div class="row">
{#                <div class="col-md-3 col-sm-4 col-xs-12">#}
{#                    <ul class="tab-link">#}
{#                        {% for section in sections %}#}
{#                            <li {% if forloop.first %}class="active"{% endif %}>#}
{#                                <a data-toggle="tab" href="#{{ section.section_name }}">#}
{#                                    <div class="tab-link-info flex align-center">#}
                                        {#                                        <img src="img/category/1.png" alt="">#}
{#                                        <span>{{ section.russian_name }}</span>#}
{#                                    </div>#}
{#                                </a>#}
{#                            </li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                </div>#}
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="tab-content">
                        <div id="kovrolin" class="tab-pane fade in active">
                            <div class="row">
                                {% for item in kovrolin %}
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 product-item">
                                        <div class="pd-bd product-inner" style="cursor: pointer;">
                                            <div class="product-img">
                                                <a href="{% url 'good_page' item.id %}">
                                                    <img src="{{ item.main_photo.path }}" alt="" class="img-reponsive">
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <div class="element-list element-list-middle">
                                                    <p class="product-cate">Ковролин</p>
                                                    <a href="{% url 'good_page' item.id %}">
                                                        <h3 class="product-title">
                                                            {{ item.good_name }}
                                                        </h3>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="tsinovki" class="tab-pane fade">
                            <div class="row">
                                {% for item in tsinovki %}
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 product-item">
                                        <div class="pd-bd product-inner">
                                            <div class="product-img">
                                                <a href="{% url 'good_page' item.id %}"><img
                                                        src="{{ item.main_photo.path }}" alt=""
                                                        class="img-reponsive"></a>
                                            </div>
                                            <div class="product-info">
                                                <div class="element-list element-list-middle">
                                                    <p class="product-cate">Циновки</p>
                                                    <h3 class="product-title"><a
                                                            href="{% url 'good_page' item.id %}">{{ item.good_name }}</a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="kovrovaya-plitka" class="tab-pane fade">
                            <div class="row">
                                {% for item in kovrovaya_plitka %}
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 product-item">
                                        <div class="pd-bd product-inner">
                                            <div class="product-img">
                                                <a href="{% url 'good_page' item.id %}">
                                                    <img src="{{ item.main_photo.path }}" alt=""
                                                         class="img-reponsive"></a>
                                            </div>
                                            <div class="product-info">
                                                <div class="element-list element-list-middle">
                                                    <p class="product-cate">Ковровая плитка</p>
                                                    <h3 class="product-title">
                                                        <a href="{% url 'good_page' item.id %}">{{ item.good_name }}</a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}